//Footer 
footer.text-center
    .row
        .large-4.columns
            img(src='img/visit.png', alt='Facebook')
            h5 Visit
            | P.O.Box 69338
            br
            | Dammam
            br
            | Saudi Arabia.
            br
        .large-4.columns
            img(src='img/call.png', alt='Facebook')
            h5 Call
            | +96613 8060919
            br
            | +96613 8060768
            br
            | +96613 8277869
            br
        .large-4.columns
            img(src='img/contact.png', alt='Facebook')
            h5 Contact
            | info@jonquilgroup.com
            div(style='padding: 10px 0 0 0;')
                a.footer-img(href='http://www.facebook.com/jonquilgroup')
                    img(src='img/facebook.png', alt='Facebook')
                a.footer-img(href='https://www.linkedin.com/company/jonquilgroup')
                    img(src='img/linkedin.png', alt='Linkedin')
    .copyrights
        .row
            .large-3.columns
                h6 © 2015, Al-Farahid Est. All Rights Reserved.
            .large-6.columns
            .large-3.columns
                h6 Engineered with love by 
                    a(href='http://dephytech.com' target='_blank')  DePhy Tech.