//Footer 
footer.text-center
    .row
        .large-4.columns
            img(src='img/visit.png', alt='Facebook')
            h5 Visit
            | Al Farahid Est., Herfy Building
            br
            | Opp. Panda, Al Nasser Street,
            br
            | Al Aziziyah, Riyadh, KSA
            br
        .large-4.columns
            img(src='img/call.png', alt='Facebook')
            h5 Call
            | Tel: +966 11 4539188
            br
            | Fax: +966 11 4387710
            br
            | 
        .large-4.columns
            img(src='img/contact.png', alt='Facebook')
            h5 Contact
            | info@alfarahid.com
            div(style='padding: 10px 0 0 0;')
                a.footer-img(href='http://www.facebook.com/alfarahid')
                    img(src='img/facebook.png', alt='Facebook')
                a.footer-img(href='https://www.linkedin.com/company/alfarahid')
                    img(src='img/linkedin.png', alt='Linkedin')
    .copyrights
        .row
            .large-3.columns
                h6 © 2016, Al-Farahid Est. All Rights Reserved.
            .large-6.columns
            .large-3.columns
                h6 Engineered with love by 
                    a(href='http://dephytech.com' target='_blank')  
                    strong DePhy Tech