section.background1
    .large-12.columns
        h3.text-center Providing Services with Excellence
        p.text-center
            | BIOTECON Diagnostics is a leading partner for molecular and microbiological methods in food, beverage, and pharmaceutical industries. Founded in 1998, we focus on development, production and international marketing of real-time PCR-based, rapid detection technologies, including sample preparation and DNA extraction. Our accredited service laboratory offers a wide range of standardized microbiological analyses as well as tailor-made methods. Find out why leading companies worldwide rely on our quality products and the knowledge and reliability of our employees.
    .icon-bar.five-up
        a.item
            img(src='../assets/img/images/fi-home.svg')
            label Home
        a.item
            img(src='../assets/img/images/fi-home.svg')
            label Home
        a.item
            img(src='../assets/img/images/fi-home.svg')
            label Home
        a.item
            img(src='../assets/img/images/fi-home.svg')
            label Home
        a.item
            img(src='../assets/img/images/fi-home.svg')
            label Home
    .large-6.columns
        h4.text-center Construction & Engineering Division
        img(src='img/munir.jpg', alt='Construction & Engineering Division.')
        hr
        p
        | This is our Engineering and Contracting Services division, specialized in Building & Infrastructure construction services, Electrical Works,  Excavation & Underground Construction Services. Our team of construction professionals offers a single-source solution for all of your construction-related needs.
        p
        | We support our clients from project inception, to the commissioning of the fully operational facility on schedule and within budget.
        a.panel_button(href='construction.html') Read More
    .large-6.columns
        h4.text-center Industrial Support & Trading services
        img(src='img/jawahir.jpg', alt='Industrial Supplies & Trading Division.')
        hr
        p
        |Industrial Support and Trading services division, is specialized in agile delivery of industrial supplies and products with highest quality and reliability that meets ur needs. We make constant effort to improve our portfolio to deliver maximum value to our customers.
        p
        | Our strength is our ability to source from across the globe efficiently and effectively. Our team of qualified and dedicated application engineers would give a much needed insights on your requirements.
        a.panel_button(href='trading.html') Read More
    .large-6.columns
        h4.text-center Interior Designing & Home Decor
        img(src='img/interior.jpg', alt='Interior Designing & Home Decor.')
        hr
        p
            strong Jonquil Interiors
        | , part of the Jonquil Group, is one of the leading Interior Designing & Home Decor services in the Kingdom. We offer a variety of design services, ranging from Full Service Interior Design and Styling, which are executed beautifuly with custom tailored services.
        p
        | We value our relationships with our clients and do our best to learn about your lifestyle, tastes, and needs in order to develop a comprehensive plan suited to your project.
        a.panel_button(href='interior.html') Read More
    .large-6.columns
        h4.text-center Interior Designing & Home Decor
        img(src='img/interior.jpg', alt='Interior Designing & Home Decor.')
        hr
        p
            strong Jonquil Interiors
        | , part of the Jonquil Group, is one of the leading Interior Designing & Home Decor services in the Kingdom. We offer a variety of design services, ranging from Full Service Interior Design and Styling, which are executed beautifuly with custom tailored services.
        p
        | We value our relationships with our clients and do our best to learn about your lifestyle, tastes, and needs in order to develop a comprehensive plan suited to your project.
        a.panel_button(href='interior.html') Read More
section.background2
    .row
        .large-12.columns.round
            p Since 2001, we have been delivering products & services to some of the largest corporations of the world:
            ul.inline-list
                li
                    a(href='partner.html')
                        img(src='img/clients/saudi_aramco.png', alt='Saudi Aramco')
                li
                    a(href='partner.html')
                        img(src='img/clients/sabic.png', alt='SABIC')
                li
                    a(href='partner.html')
                        img(src='img/clients/adnoc.png', alt='ADNOC')