section.number1
    .icon-bar.six-up
        a.item
            img(src='img/moa.png')
        a.item
            img(src='img/sfda.png')
            label Home
        a.item
            img(src='img/almarai.png')
            label Home
        a.item
            img(src='img/idac.png')
            label Home
        a.item
            img(src='img/toxic-lab.png')
            label Home
        a.item
            img(src='img/kfu.png')
            label Home
    .row.text-center
        .large-12.columns
            h3 Quality Products for a Healthier Community
            p
            | Al Farahid Establishment is a leading partner in GCC for products and services in the food, beverage and pharmaceutical industries. Founded in 1998, as a wholly Saudi Owned company, we deploy an entire range of solutions across a host of allied segments including Food Safety & Diagnostics, Health Care Instruments, Agriculture and Veterinary products, Feed Additives, Reagents, Chemicals and Disposables. Over the years, our commitment and delivery of highest quality products and services to leading Governmental and Private Organizations across MENA region, has built our reputation. This has been reflected by accreditations from premier organizations like SFDA, Saudi Ministry of Agriculture, IDAC, etc. Find out how our quality products and services help develop a healthier community.
section.number2(data-equalizer='data-equalizer', data-options='equalize_on_stack: true')
    .large-12.columns.one
        .small-6.columns
            img(src='img/food-safety.jpg', alt='Food Safety, Agricultural & Veterinary Products')
        .small-6.columns
            h4.text-center Food Safety, Agricultural & Veterinary Products
            p When there’s no room for error, you need a partner that’s as committed to risk reduction as you are. We combine fast, accurate and innovative food safety technologies with dedicated service and support to protect your brand and your bottom line.
    .large-12.columns.two
        .small-6.columns
            h4.text-center Medical, Health-Care & Scientific Instruments
            p Our strength is our ability to source from across the globe efficiently and effectively. Our team of qualified application engineers will help you select the best equipments for your needs and support you all the way until the product lifecycle.
        .small-6.columns
            img(src='img/health-care.jpg', alt='Medical, Health-Care & Scientific Instruments')
section.number4
     .row.text-center
        .large-10.columns
            h5. Al Farahid Est. is closely working with its valuable partner IMC (International Marketing Center), Dr. El Wakeel & Co.
        .large-2.columns
            img(src='img/imc.png', alt='IMC')
section.number3
    .row.text-center
        .large-12.columns.round
            p Our global partners help us bring best quality products to you:
            ul.small-block-grid-3.medium-block-grid-5.large-block-grid-5.text-center.panel.partner
                li
                    a(class=href='partner.html')
                        img(src='img/1_pantex.png', alt='Pantex Holland')
                li
                    a(href='partner.html')
                        img(src='img/2_unipharma.png', alt='Uni Pharma')
                li
                    a(href='partner.html')
                        img(src='img/3_biomedical.png', alt='Biomedical Pharmaceuticals')
                li
                    a(href='partner.html')
                        img(src='img/4_lillidale.png', alt='Lillidale Diagnostics')
                li
                    a(href='partner.html')
                        img(src='img/5_agrident.png', alt='Agrident')
                li
                    a(href='partner.html')
                        img(src='img/6_biooscientific.png', alt='BiooScientific')
                li
                    a(href='partner.html')
                        img(src='img/7_randox.png', alt='Randox Food Diagnostics')
                li
                    a(href='partner.html')
                        img(src='img/8_bioingentech.png', alt='BioinGentech')
                li
                    a(href='partner.html')
                        img(src='img/9_biosearch.png', alt='BioSearch Technologies')
                li
                    a(href='partner.html')
                        img(src='img/10_capp.png', alt='CAPP')
                li
                    a(href='partner.html')
                        img(src='img/11_biolab.png', alt='BioLAB')
                li
                    a(href='partner.html')
                        img(src='img/12_srl.png', alt='Sisco Research Laboratories')
                li
                    a(href='partner.html')
                        img(src='img/13_ika.png', alt='IKA')