section.number1
    .icon-bar.five-up
        a.item
            img(src='img/sfda.jpg')
        a.item
            img(src='img/fi-home.svg')
            label Home
        a.item
            img(src='img/fi-home.svg')
            label Home
        a.item
            img(src='img/fi-home.svg')
            label Home
        a.item
            img(src='img/fi-home.svg')
            label Home
    .row.text-center
        .large-12.columns
            h3 Quality Products for a Healthier Community
            p
            | Al Farahid Establishment is a leading partner in GCC for products and services in the food, beverage and pharmaceutical industries. Founded in 1998, as a wholly Saudi Owned company, we deploy an entire range of solutions across a host of allied segments including Food Safety & Diagnostics, Health Care Instruments, Agriculture and Veterinary products, Feed Additives, Reagents, Chemicals and Disposables. Over the years, our commitment and delivery of highest quality products and services to leading Governmental and Private Organizations across MENA region, has built our reputation. This has been reflected by accreditations from premier organizations like SFDA, Saudi Ministry of Agriculture, IDAC, etc. Find out how our quality products and services help develop a healthier community.
section.number2(data-equalizer='data-equalizer', data-options='equalize_on_stack: true')
    .large-6.columns.one
        .small-6.columns
            img(src='img/munir.jpg', alt='Food Safety and Diagnostics')
        .small-6.columns
            h4.text-center Food Safety and Diagnostics
            p When there’s no room for error, you need a partner that’s as committed to risk reduction as you are. We combine fast, accurate and innovative food safety technologies with dedicated service and support to protect your brand and your bottom line.
    .large-6.columns.two
        .small-6.columns
            h4.text-center Health Care and Instruments
            p Our strength is our ability to source from across the globe efficiently and effectively. Our team of qualified application engineers will help you select the best equipments for your needs and support you all the way until the product lifecycle.
        .small-6.columns
            img(src='img/jawahir.jpg', alt='Health Care and Instruments')   
    .large-6.columns.three
        .small-6.columns
            img(src='img/agri.jpg', alt='Agricultural and Veterinary')
        .small-6.columns
            h4.text-center Agricultural and Veterinary Products
            p We provide excellence in distribution of the highest quality, value-laden products to the veterinary, pet, agricultural and markets across GCC. We offer diverse product selection covering the full spectrum of customer requirements.
    .large-6.columns.four
        .small-6.columns
            h4.text-center Feed Additives, Reagents and Consumables
            p We supply highest quality feed additives, reagents, disposables and other consumables for improved productivity and enhanced value for money. We are a sole supplier of pigeon food additives in the saudi market.
        .small-6.columns
            img(src='img/munir.jpg', alt='Feed Additives, Reagents and Consumables')
section.number3
    .row.text-center
        .large-12.columns.round
            p Our global partners help us bring best quality products to you:
            ul.inline-list
                li
                    a(href='partner.html')
                        img(src='img/logo.png', alt='Pantex')
                li
                    a(href='partner.html')
                        img(src='img/Bioo-Logo.png', alt='Bio - Scientific')
                li
                    a(href='partner.html')
                        img(src='img/food_diagnostics_logo.png', alt='Randox')