//- Top Bar 
.contain-to-grid.navigation-area
  nav.top-bar.show-for-large-up(data-topbar, data-options)
    ul.title-area
      li.name
        a(href='index.html')
          img(alt='Al Farahid Est.', src='img/alfarahid.png')
    section.top-bar-section
      ul.right
        li.divider
        li(class=(slug === 'home') ? 'active' : '')
          a(href='index.html') Home
        li.divider
        li.has-dropdown
          a(href='#') About Us
          ul.dropdown
            li
              a(href='philosophy.html') Our Philosophy
            li
              a(href='message.html') Our Message
        li.divider
        li.has-dropdown
          a(href='#') Activities
          ul.dropdown
            li
              a(href='construction.html') Construction Services
            li
              a(href='trading.html') Trading Services
            li
              a(href='interior.html') Interior Designing
        li.divider
        li(class=(slug === 'partners') ? 'active' : '')
          a(href='partner.html') Partners
        li.divider
        li(class=(slug === 'contact') ? 'active' : '')
          a(href='contact.html') Contact Us
        li.divider
  //- Offcanvas 
  nav.tab-bar.hide-for-large-up.sticky
    section.left.tab-bar-section
      h1.title-area
        .name
          a(href='index.html')
            img(alt='Al Farahid Est.', src='img/alfarahid-mb.png')
    .right-small
      a.right-off-canvas-toggle.menu-icon
        span
aside.right-off-canvas-menu
  ul.off-canvas-list
    li
      label 
        strong Al Farahid Est.
      hr
    li
      a(href='index.html') Home
      hr
    li
      label About Us
    li
      a(href='philosophy.html') Our Philosophy
    li
      a(href='message.html') Our Message
      hr
    li
      label Activities
    li
      a(href='construction.html') Construction Services
    li
      a(href='trading.html') Trading Services
    li
      a(href='interior.html') Interior Designing
      hr
    li
      a(href='partner.html') Partners
      hr
    li
      a(href='contact.html') Contact Us
a.exit-off-canvas

