//- Top Bar 
.contain-to-grid.navigation-area
  nav.top-bar.show-for-large-up(data-topbar, data-options)
    ul.title-area
      li.name
        a(href='index.html')
          img(alt='Al Farahid Est.', src='img/alfarahid.png')
    div.top-bar-section
      ul.right
        li(class=(slug === 'home') ? 'active' : '')
          a(href='index.html') home
        li(class=(slug === 'about') ? 'active' : '')
          a(href='about_us.html') about us 
        li(class=(slug === 'design') ? 'active' : '')
          a(href='divisions.html') divisions
        li(class=(slug === 'c_service') ? 'active' : '')
          a(href='c_service.html') customer service
        li(class=(slug === 'contact') ? 'active' : '')
          a(href='contact.html') contact us
  //- Offcanvas 
  nav.tab-bar.hide-for-large-up.sticky
    section.left.tab-bar-section
      h1.title-area
        .name
          a(href='index.html')
            img(alt='Al Farahid Est.', src='img/alfarahid-mb.png')
    .right-small
      a.right-off-canvas-toggle.menu-icon
        span
aside.right-off-canvas-menu
  ul.off-canvas-list
    li
      label 
        strong Al Farahid Est.
      hr
    li
      a(href='index.html') Home
      hr
    li
      label About Us
    li
      a(href='philosophy.html') Our Philosophy
    li
      a(href='message.html') Our Message
      hr
    li
      label Activities
    li
      a(href='construction.html') Construction Services
    li
      a(href='trading.html') Trading Services
    li
      a(href='interior.html') Interior Designing
      hr
    li
      a(href='partner.html') Partners
      hr
    li
      a(href='contact.html') Contact Us
a.exit-off-canvas

