@charset "utf-8";
/* CSS Document */

// Variables

$fine-print: rem-calc(12);

// =========================================================================
//       SITE WIDE OVERRIDES
//==========================================================================

.navigation-area{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);

    .top-bar-section ul {
        background: none;
        // MENU ITEM STYLES
        li a:not(.button), li.active a:not(.button) {
            background: none;
            text-transform: uppercase;
        }
        // MENU ITEM HOVERS
        li a:not(.button):hover {
            background: none;
            border-bottom: rem-calc(3) solid $primary-color;
            color: #222;
        }
        // MENU ITEM ACTIVE
        li.active a:not(.button) {
            border-bottom: rem-calc(3) solid $primary-color;
            color: #222;
            &:hover {
                background: none;
            }
        }
        li {
            margin-left: rem-calc(10);
        }
    }
}

#main-logo {
    position: absolute;
    width: rem-calc(160);
    height: rem-calc(50);
    background-color: $white;
    z-index: 10;
    border-radius: rem-calc(15);
    margin-left: rem-calc(20);
    img {
        vertical-align: center;
    }
}

// =========================================================================
//       INDEX PAGE OVERRIDES
//========================================================================== 

.heroIndex {
    .example-orbit-content{
        div{

            .slide-1{
                height: rem-calc(450);
                color: white;
            }

            .slide-2{
                height: rem-calc(450);
                color: white;
            }

            .slide-3{
                height: rem-calc(450);
                color: white;
            }

            .slide-4{
                height: rem-calc(450);
                color: white;
            }

            .large-6{
                margin-top: rem-calc(160);
                background: rgba(0, 0, 0, 0.3);
            }

            div{
                h2, h5 {
                    text-shadow: 0px 0px 20px #000;
                    color: white;
                }
            }
        }       
    }
}

.parallax{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: 100%;
    background: url('../img/parallax_4.jpg') no-repeat center;
}

.number1{
    background: $white;
    border-top: thick double $oil;
    .large-12{
        padding: rem-calc(50 30 50 30);
    }
}

.number2 {
    background: $white;
    padding: rem-calc(0);
    .large-12{
        padding: rem-calc(40 150);
    }
    .one{
        transition: background-color 0.5s ease;
        background: #ffade5;
        &:hover{
            background: #ff53c8;
        }
    }
    .two{
        transition: background-color 0.5s ease;
        background: #95daaf;
        &:hover{
            background: #10da3d;
        }
    }
    .three{
        transition: background-color 0.5s ease;
        background: #00d3e2;
        &:hover{
            background: #0e8be6;
        }
    }
    .four{
        transition: background-color 0.5s ease;
        background: #f5b06d;
        &:hover{
            background: #fb8512;
        }
    }
}

.number3 {
    background: $white;
    .large-12{
        padding: rem-calc(50 0 10 0);
    }
}

.number4 {
    background: $white;
    .row{
        padding: rem-calc(20 20);
        border: 3px solid $primary-color;
    }
    padding: rem-calc(0 0 40 0);
}

@media #{$large-up} {
    .number1{
        background: $white;
        border-top: thick double $oil;
        .large-12{
            padding: rem-calc(50 100 50 100);
        }
    }

    .number2 {
        background: $white;
        padding: rem-calc(0 0 0 0);
        .large-6{
            padding: rem-calc(40 20);
        }
    }
}

/*.container{
    background: $silver;
    padding: rem-calc(20 0);
    row{
        margin-bottom: rem-calc(0);
    }
}*/


// =========================================================================
//       OTHER PAGES OVERRIDES
//========================================================================== 

.banner{
    height: rem-calc(200);
    padding: rem-calc(60 0 20 0);
    border-bottom: rem-calc(1);
    border-color: #222;
    background: #555 url('../img/banner.png') no-repeat center;

    h1{
        color: #fff;
        font-size: 3*$base-font-size;
        text-shadow: 3px 3px 10px #000;
    }
}

.partner{
    margin: rem-calc(45 0);
}

.generic1{
    background: $white;
    padding: rem-calc(40 0 40 0);
}

.form-button{
    @include button(
    $padding : rem-calc(11)
    );
}

.accordion  {
    .accordion-navigation  {
    border: 1.5px solid darken($primary-color, 5%);
  }
}

//==========================================================================
//       CONTACT PAGE
//==========================================================================

#gMap-canvas{
    height: rem-calc(300);
    width: 100%;
    img{
        max-width: none;
    }
}

#gMap-canvas2{
    height: rem-calc(300);
    width: 100%;
    padding: rem-calc(10);
    img{
        max-width: none;
    }
}

#gMap-canvas3{
    height: rem-calc(300);
    width: 100%;
    padding: rem-calc(10);
    img{
        max-width: none;
    }
}

#spamcheck{display: none;}

.success {
  padding: rem-calc(16);
  margin-bottom: rem-calc(1);
  text-shadow: 0 rem-calc(1) 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: rem-calc(1) solid #d6e9c6;
  border-radius: rem-calc(4);
}

.error {
  padding: rem-calc(16);
  margin-bottom: rem-calc(1);
  text-shadow: 0 rem-calc(1) 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: rem-calc(1) solid rgba(185, 74, 72, 0.3);
  border-radius: rem-calc(4);
}

// =========================================================================
//       FOOTER OVERRIDES
//========================================================================== 

footer{
    background: rgba(0, 0, 0, 0.85);
    color: $white;
    .row{
        padding: rem-calc(50 0 50 0);

        ul{
            list-style-type: none;
            padding: rem-calc(0);
            margin: rem-calc(0);
        }

        .columns{
            img{
                margin: rem-calc(0 15);
            }
        }
    }
}

a.footer-img
{
    padding:0px 0px;
}

.copyrights {
    background : rgba(0, 0, 0, 0.5);
    .row{
        padding: rem-calc(25 0 15 0);
        h6 {
            font-size: $fine-print;
            color : $white;
        }
    }
}

/*.columns {border: 1px solid red;}*/

.orbit-container{
    .orbit-slides-container{
        img{
            display: inline-block;
        }
    }
} 

.jq_button { 
    @include button(rem-calc(5), darken($primary-color, 5%), true, false, false, false);
    border: 1.5px solid lighten($primary-color, 10%);
    font-size: rem-calc(12);
    }

.panel_button { 
    @include button(rem-calc(5), darken($primary-color, 5%), true, true, false, false);
    border: 1.5px solid lighten($primary-color, 10%);
    font-size: rem-calc(12);
    }