block vars
  - var page_name='Our Philosophy'
  - var slug='philosophy'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Our Philosophy
  //End Header 
  br
  .row
    .large-12.columns.round.panel
      h3 Our Philosophy
      p Al Farahid Establishment is a leading partner in GCC for services in the biomedical, nutritional and pharmaceutical industries. Founded in 1998, as a wholly Saudi owned company, we deploy an entire range of solutions across a host of allied segments including veterinary healthcare, food safety testing, laboratory instruments, kits, chemicals and disposables.
      h3 Our Mission
      p Over the years, our commitment and delivery of services to leading governmental and private sectors across MENA region, has built our reputation. Our two divisions 1) Agriculture & Veterinary Products and 2) Medical & Scientific Equipment at Al Farahid Est. are dedicated for distributing the highest quality products for either in the animals drug treatment, or for laboratory use in the  life science research, food diagnostics and veterinary healthcare sectors.


