block vars
  - var page_name='Our Philosophy'
  - var slug='philosophy'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Our Philosophy
  //End Header 
  section.generic1
    .row
      .large-12.columns.round.panel
        h3 Our Philosophy
        p Al Farahid Establishment is a leading partner in GCC for services in the biomedical, nutritional and pharmaceutical industries. Founded in 1998, as a wholly Saudi owned company, we deploy an entire range of solutions across a host of allied segments including veterinary healthcare, food safety testing, laboratory instruments, kits, chemicals and disposables.
        h3 Our Mission
        p Over the years, our commitment and delivery of services to leading governmental and private sectors across MENA region, has built our reputation. Our two divisions:1) Agriculture & Veterinary Products & 2) Medical & Scientific Equipments are dedicated for distributing the highest quality products for either in the animals drug treatment, or for laboratory use in the  life science research, food diagnostics and veterinary healthcare.
        h3 Our Clients
        p Our standing is reflected by accreditions from premier organizations. Here are some of our current customers in Saudi Arabia (in alphabetical order):
        ul
          li
            strong Al Akhawain Company
          li
            strong Almarai Company
          li
            strong IDAC Mereiux NutriSciences
          li
            strong King Faisal University (KFU)
          li
            strong Ministry of Agriculture
          li
            strong Saudi Food and Drug Authority (SFDA)
          li
            strong Toxicology Lab, KFSH & RC
        h4(align="right") Ahmed Bader Al Askar
        h5(align="right") General Manager
        h5(align="right") Al Farahid Establishment
        br
        p(align="right") Membership No.: 101000160323
        img(align="right" src='img/riyadh_chamber.png', alt='Riyadh Chamber of Commerce')