block vars
  - var page_name='Customer Service'
  - var slug='c_service'
  - var layout='full'

extends partials/layout

block index
    section.banner
      .row
        h1 Customer Service
    br
    .row
      .large-12.columns.round.panel
        h4 For Sales Enquiries and Quotations:
        br
        .large-6.columns
          h3 Agriculture & Veterinary Division
          br
          .row
            address
              h5
                u Dr. Abdullah Shishiny
              p
                | Sales Manager
                br
                | abdullah@alfarahid.com
              br
              h5
                u Dr. Anas Zahran
              p
                | Sales Specialist
                br
                | azahran@alfarahid.com
              br
              h5
                u General Enquiry
              p
                | sales@alfarahid.com
        .large-6.columns
          h3 Medical & Scientific Equipment Division
          br
          .row
            address
              h5
                u Mazen Osman, M.Sc
              p
                | Sales Specialist
                br
                | mosman@alfarahid.com
              br
              h5
                u Riyadh Kalander
              p
                | Sales Executive
                br
                | riyadh@alfarahid.com
              br
    br
    .row
      .large-12.columns.round.panel
        h4 Administration:
        br
        .large-6.columns
          .row
            address
              h5
                u Dr. Mohammed Rahmatallah
              p
                | Technical Manager
                br
                | technicalsupport@alfarahid.com
              br
        .large-6.columns
          .row
            address
              h5
                u Saad Saud
              p
                | Government Affairs Representative
                br
                | saad@alfarahid.com
              br
              h5
                u Ahmed Sayed
              p
                | Financial Accountant
                br
                | accounts@alfarahid.com
              br
    br