block vars
  - var page_name='Divisions'
  - var slug='division'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Divisions
  //End Header  
  section.generic1
    .row
      .large-12.columns.round.panel
        div(style="clear: both")
          h3(style="float: left") 1. Al Farahid Est. for Agriculture and Veterinary
          h5(style="float: right") Commercial Register No. 1010160924
        hr
        p When there is no chance for error, you need a partner that's as committed to risk reduction as you are. The contamination of food is one of the most important issues that cause serious problems for our health. At Al-Farahid Est. we combine fast, accurate and wide range of products for safety and testing of food samples to maintain quality, and protect your bottom line.
        p We provide excellence in distribution of the highest quality, value-laden products to the veterinary and agricultural markets across GCC. We also offer diverse selection of animal medications and feed additives covering the full spectrum of customer requirements.
        ul.tabs(data-tab)
          li.tab-title.active
            a(href="#panel1") A. Veterinary Healthcare
          li.tab-title
            a(href="#panel2") B. Food and Feed Testing
        div.tabs-content
          div.content#panel1.active
            .large-12.columns.round
              ul.small-block-grid-3.large-block-grid-5.text-center.panel.partner
                li
                  img(src='img/division/A-1.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-2.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-3.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-4.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-5.png', alt='Veterinary Healtchare')
              dl.accordion(data-accordion='data-accordion')
                dd.accordion-navigation
                  a(href='#panel5') 
                    h4 PANTEX Animal Healthcare
                  #panel5.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Netherlands
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
                dd.accordion-navigation
                  a(href='#panel6') 
                    h4 UniPharma Growth & Treatment for Animals
                  #panel6.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Malaysia
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
                dd.accordion-navigation
                  a(href='#panel7') 
                    h4 BIOMEDICAL Pharmaceuticals
                  #panel7.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Egypt
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
                dd.accordion-navigation
                  a(href='#panel8') 
                    h4 LILLIDALE Diagnostics
                  #panel8.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 United Kingdom
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
                dd.accordion-navigation
                  a(href='#panel9') 
                    h4 AGRIDENT
                  #panel9.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Netherlands
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
          div.content#panel2
            .large-12.columns.round
              ul.small-block-grid-3.large-block-grid-5.text-center.panel.partner
                li
                  img(src='img/division/A-1.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-2.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-3.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-4.png', alt='Veterinary Healtchare')
                li
                  img(src='img/division/A-5.png', alt='Veterinary Healtchare')
              dl.accordion(data-accordion='data-accordion')
                dd.accordion-navigation
                  a(href='#panel10') 
                    h4 BIOO SCIENTIFIC
                  #panel10.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 USA
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
                dd.accordion-navigation
                  a(href='#panel11') 
                    h4 RANDOX Food Diagnostics
                  #panel11.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 United Kingdom
                        p Provides animals medications.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
        br
        div(style="clear: both")
          h3(style="float: left") 2. Al Farahid Est. for Medical and Scientific Equipment
          h5(style="float: right") Commerical Register No. 1010205877
        hr
        p Our Strength is our ability to source from across the globe efficiently and effectively. The rapid advance in the technology has introduced new approaches for answering several questions in the life science sector. Our team of specialists will help you select the best equimpment and suitable laboratory tools for your needs, and support you all the way for full product lifecycle. We supply highest quality reagents, disposables and other consumables for improved productivity and enhanced value for money.
        ul.tabs(data-tab)
          li.tab-title.active
            a(href="#panel3") A. Biomedical Research
          li.tab-title
            a(href="#panel4") B. Lab Instruments and Supplies
        div.tabs-content
          div.content#panel3.active
            .large-12.columns.round
              ul.small-block-grid-3.large-block-grid-5.text-center.panel.partner
                li
                  img(src='img/division/C-1.png', alt='Biomedical Research')
                li
                  img(src='img/division/C-2.png', alt='Biomedical Research')
                li
                  img(src='img/division/C-3.png', alt='Biomedical Research')
                li
                  img(src='img/division/C-4.png', alt='Biomedical Research')
                li
                  img(src='img/division/C-5.png', alt='Biomedical Research')
              dl.accordion(data-accordion='data-accordion')
                dd.accordion-navigation
                  a(href='#panel12') 
                    h4 BIOO SCIENTIFIC
                  #panel12.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 USA
                        p Offers ready kits for detection based on rapid strips, lateral flow, ELISA assays system.
                        |- Anaesthetic/Analgetic, Anti inflammatory    - Antibiotics, Anticoccidia
                        |- Antiparasitic, Hormones                     - Insecticides, Iron
                        |- Nutritional, Vitamins
                dd.accordion-navigation
                  a(href='#panel13') 
                    h4 BioinGentech Biotechnology Company
                  #panel13.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Chile
                        p Provides bio-technical conventional and real-time PCR products in biomedical sciences.
                dd.accordion-navigation
                  a(href='#panel14') 
                    h4 BIOSEARCH Technologies
                  #panel14.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 USA
                        p Specializes in custom synthesized oligonucleotides for qPCR, cGMP oligos for molecular diagnostics.
                dd.accordion-navigation
                  a(href='#panel15') 
                    h4 Sisco Research Laboratories Pvt. Ltd.
                  #panel15.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 India
                        p Manufacturers of Reagents, Biochemicals, Organic Intermediates.
          div.content#panel4
            .large-12.columns.round
              ul.small-block-grid-3.large-block-grid-5.text-center.panel.partner
                li
                  img(src='img/division/D-1.png', alt='Lab Instruments and Supplies')
                li
                  img(src='img/division/D-2.png', alt='Lab Instruments and Supplies')
                li
                  img(src='img/division/D-3.png', alt='Lab Instruments and Supplies')
                li
                  img(src='img/division/D-4.png', alt='Lab Instruments and Supplies')
                li
                  img(src='img/division/D-5.png', alt='Lab Instruments and Supplies')
              dl.accordion(data-accordion='data-accordion')
                dd.accordion-navigation
                  a(href='#panel16') 
                    h4 CAPP
                  #panel16.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Denmark
                        p Suppliers of liquid handling products.
                dd.accordion-navigation
                  a(href='#panel17') 
                    h4 BIOLAB
                  #panel17.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Canada
                        p Provider of wide range of analytical and laboratory equipment
                dd.accordion-navigation
                  a(href='#panel18') 
                    h4 IKA
                  #panel18.content
                    .row
                      .large-6.push-6.columns
                        img(src='img/ModernMinimalist_style.jpg')
                      .large-6.pull-6.columns  
                        h5 Germany
                        p Market leaders for laboratory equipment and analytical technoglogies.