block vars
  - var page_name='Construction & Engineering'
  - var slug='construction'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Construction and Engineering Services
  //End Header  
  br
  .row
    .large-12.columns.round.panel
      ul.breadcrumbs
        li.unavailable Activities
        li.current
          a(href='#') Construction Services
      p
        strong Construction & Engineering
        | , specialized in  Building construction & Concrete Construction Services, Interior Designing, Electrical Works & Excavation, Underground Construction Services.
      p
        | Our team of construction professionals offers a single-source solution for all of your construction-related needs. Whether it’s restoration, site preparation, a new facility or facility renovation, we have the experience and personnel to provide the highest quality construction on schedule and within budget. We support our clients from project inception, to the commissioning of the fully operational facility. And our network of local offices enables us to offer our clients the dual advantage of a strong local presence and broad geographic reach.
      hr
      .row
        .large-4.push-8.columns
          img(src='img/const_1.jpg')
        .large-8.pull-4.columns
          h5 Public engineering :  
          p
            | Construction of public works based on general planning, instruction, and control (including renovation, improvement, or demolition work)
          h5 Construction engineering	:  
          p
            | Construction of buildings based on general planning, instruction, and control (including renovation, improvement, or demolition work)
          h5 Plasterwork :  
          p
            | Applying, spraying, or affixing plaster, mortar, stucco, cement, fibers, etc. to work
      hr
      .row
        .large-4.columns
          img(src='img/const_2.jpg')
        .large-8.columns
          h5 Electrical work - IPTV, CATV, CCTV
          p
            | Installation of power generation, transformer, power distribution, and interior electrical facilities.
          p
            | IPTV, CATV, CCTV installation and maintenance
          p
            | Power generation facilities, electrical wiring, lead-in line, transformer facilities, interior electrical facilities (including electrical facilities for emergency use), illumination facilities, etc.
          h5 FTTH / FTTB Networking :
          p
            | FTTH fiber-to-the-home and  fiber-to-the-building (FTTB), FFT which includes optical fiber that is installed directly into a home or enterprise. It includes trenching, Piping and cable pulling.
          
      hr
      .row
        .large-4.push-8.columns
          img(src='img/const_3.jpg')
        .large-8.pull-4.columns
          h5 Scaffold / Construction/ Concrete work 
          ul
            li(style='list-style-type: circle;')
              | Assembly of scaffolding, transport and placement of heavy objects, such as mechanical apparatuses and construction materials, assembly of steel frames, and demolition.
            li(style='list-style-type: circle;')
              | Excavation, piling up, or compression of earth or sand. Earth work, excavation, root-cutting, blasting operations, and embankment work
            li(style='list-style-type: circle;')
              | Concrete work, concrete driving work, concrete compression work, and prestressed concrete work
            li(style='list-style-type: circle;')
              | Landslide prevention, foundation improvement, boring grout, earth retaining, temporary coffering, spraying, highway section, riprap, external construction, and chipping work
      hr
      .row
        .large-4.columns
          img(src='img/const_4.jpg')
        .large-8.columns
          h5 Stone work :  
          p Stone masonry or pitching and concrete block masonry or pitching 
          h5 Piping work :  
          p
            | Work for installation of coolers, air conditioners, water supplies, hygiene facilities, and facilities for transport of water, oil, gas, and steam using metal pipes.
          p
            | Cooling and heating facilities, freezer/refrigerator facilities, water/hot water supply facilities, kitchen facilities, hygiene facilities, water purification facilities, water toilet facilities, gas pipe, duct, and pipe rehabilitation work
      hr
      .row
        .large-4.push-8.columns
          img(src='img/const_5.jpg')
        .large-8.pull-4.columns
          h5 Waterproofing work	:  
          p Waterproofing with asphalt, mortar, or sealing materials 
          h5 Fittings work :
          p
            | Work related to attachment of metal fittings, sashes, metal curtain walls, shutters, automatic doors, wooden fittings, and fusuma
          h5 Firefighting facilities work :
          p
            | Installation of disaster warning facilities, fire extinguishing facilities, evacuation facilities, or facilities for firefighting or installation of such facilities in structures.