block vars
  - var page_name='Home'
  - var slug='home'
  - var layout='full'

extends partials/layout

block index
    section.heroIndex
        .parallax
        .preloader
        ul.example-orbit-content(data-orbit, data-options='animation:slide; pause_on_hover:true; resume_on_mouseout: true; animation_speed:500; bullets:false;')
            div(data-orbit-slide='headline-1')
                .slide-1
                    .row
                        .large-6.columns.banner-content
                            h2 Safe and Healthy food for you and your family
                            h5 
                            a.jq_button.info(href='message.html') Learn More
            div(data-orbit-slide='headline-2')
                .slide-2
                    .row
                        .large-6.large-offset-6.columns.banner-content
                            h2 Full Array of Medical Equipments
                            h5 
                            a.jq_button.info(href='construction.html') Learn More
            div(data-orbit-slide='headline-3')
                .slide-3
                    .row
                        .large-6.columns.banner-content
                            h2 Agricultural and Veterinary Products
                            h5
                            a.jq_button.info(href='trading.html') Learn More
            div(data-orbit-slide='headline-3')
                .slide-4
                    .row
                        .large-6.large-offset-6.columns.banner-content
                            h2 Feed Addittives for enhanced quality
                            h5 
                            a.jq_button.info(href='interior.html') Learn More
    include partials/indexCont