block vars
  - var page_name='Our Message'
  - var slug='message'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Our Message
  //End Header 
  br
  .row
    .large-12.columns.round.panel
      ul.breadcrumbs
        li.unavailable
          a(href='#') About Us
        li.current
          a(href='#') Our Message
      p
        | We take pride in being one of the pioneer engineering and contracting firms in Dammam. The Company has attained prominence as a leader in the field of construction and engineering through competence, competitiveness and timely delivery with highest quality standards and recognized safety performance. We have a long tradition of serving our valued customers to their complete satisfaction through efficient management and excellent workmanship, which we continue to maintain with our untiring efforts.
      p
        | When looking to select a support partner, it can be difficult to differentiate between companies. Although it is important to select a partner with sufficient experience and resources. At 
        b Jonquil Group 
        | we ensure that our customers have a thorough understanding of the services and products we deliver and they remain satisfied.
      p
        | We offer our customers three key things -
        ul
          li we aim to fully understand their requirements and go beyond their expectations; 
          li we strive to constantly improve the way we work; and 
          li
            | we are passionate about eliminating waste and delivering the best possible value.
      p
        | All of this is underpinned by a firm foundation of ensuring the safest possible environment for our people, customers and the public. Rightly one of the important pillar of our philosophy happens to be Total Safety.
      p
        | As we look to the years ahead we renew our pledge to remain committed to excellence, keep abreast of changes and innovations, adopt better management and construction techniques and successfully overcome all challenges before us.
      p
        | At 
        b Jonquil 
        | it is our promise that we will do our best to satisfy our client's needs wherever in the world they may be. We at Jonquil will do our best to present more satisfaction and value for our clients in the world and realize our dreams togther.