block vars
  - var page_name='Partners'
  - var slug='partners'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Our Partners
  //End Header 
  br
  .row
    .large-12.columns.round.panel.text-center
      p
        | We value our partnerships, so that we can support the full spectrum of opportunities provided by small and medium-sized businesses today. These partnerships and the additional expertise that they offer our team, allow You to choose 
        strong Jonquil Group 
        | with confidence - knowing that we are being supported by some of the prominent organizations in the world today.
      ul.small-block-grid-3.medium-block-grid-5.large-block-grid-6.text-center.panel.partner
        li
          img.th(src='img/clients/saudi_aramco.png')
        li
          img.th(src='img/clients/sabic.png')
        li
          img.th(src='img/clients/takreer.png')
        li
          img.th(src='img/clients/shell.gif')
        li
          img.th(src='img/clients/sadara.jpg')
        li
          img.th(src='img/clients/qp.png')
        li
          img.th(src='img/clients/total.png')
        li
          img.th(src='img/clients/rasgas.gif')
        li
          img.th(src='img/clients/bechtel.png')
        li
          img.th(src='img/clients/mobily.jpg')
        li
          img.th(src='img/clients/royalcommission.jpg')
        li
          img.th(src='img/clients/adnoc.png')
        li
          img.th(src='img/clients/ssp.jpg')
        li
          img.th(src='img/clients/chiyoda.gif')
        li
          img.th(src='img/clients/dow.png')
        li
          img.th(src='img/clients/l&t.jpg')
        li
          img.th(src='img/clients/maaden.png')
        li
          img.th(src='img/clients/arcelor.png')
        li
          img.th(src='img/clients/qatargas.gif')
        li
          img.th(src='img/clients/oryx.gif')
        li
          img.th(src='img/clients/kbr.png')
        li
          img.th(src='img/clients/dolphin.png')
        li
          img.th(src='img/clients/gasco.png')
        li
          img.th(src='img/clients/linde.jpg')
        li
          img.th(src='img/clients/jgc.gif')
        li
          img.th(src='img/clients/exxon.png')
        li
          img.th(src='img/clients/hyundai.png')
        li
          img.th(src='img/clients/daelim.png')
        li
          img.th(src='img/clients/samsung.gif')
        br
        li
          img.th(src='img/vendors/abb.jpg')
        li
          img.th(src='img/vendors/b&d.jpg')
        li
          img.th(src='img/vendors/fluke.jpg')
        li
          img.th(src='img/vendors/dewalt.jpg')
        li
          img.th(src='img/vendors/hilti.jpg')
        li
          img.th(src='img/vendors/philips.jpg')
        li
          img.th(src='img/vendors/mitsubishi.jpg')
        li
          img.th(src='img/vendors/parker.jpg')
        li
          img.th(src='img/vendors/mesc.jpg')
        li
          img.th(src='img/vendors/havells.jpg')
        li
          img.th(src='img/vendors/osram.jpg')
        li
          img.th(src='img/vendors/bradley.jpg')
        li
          img.th(src='img/vendors/riggio.jpg')
        li
          img.th(src='img/vendors/perkins.jpg')
        li
          img.th(src='img/vendors/bahra.jpg')
        li
          img.th(src='img/vendors/karcher.jpg')
        li
          img.th(src='img/vendors/hubbel.jpg')
        li
          img.th(src='img/vendors/makita.jpg')
        li
          img.th(src='img/vendors/weidmuller.jpg')
        li
          img.th(src='img/vendors/roxtec.jpg')
        li
          img.th(src='img/vendors/thomasbetts.jpg')
        li
          img.th(src='img/vendors/stanley.jpg')
        li
          img.th(src='img/vendors/schneider.jpg')
        li
          img.th(src='img/vendors/mefc.jpg')
        li
          img.th(src='img/vendors/cembre.jpg')
        li
          img.th(src='img/vendors/burndy.jpg')
        li
          img.th(src='img/vendors/duncan.png')
        li
          img.th(src='img/vendors/dezurik.jpeg')
        li
          img.th(src='img/vendors/cooper.jpg')
        li
          img.th(src='img/vendors/neway.png')