block vars
  - var page_name='Our Philosophy'
  - var slug='philosophy'
  - var layout='full'

extends partials/layout

block index
  //Header 
  section.banner
    .row
      h1 Our Philosophy
  //End Header 
  br
  .row
    .large-12.columns.round.panel
      h3 Providing Services with Excellence
      ul.breadcrumbs
        li.unavailable
          a(href='#') About Us
        li.current
          a(href='#') Our Philosophy
      p
        | JONQUIL Group was established in 2001 and encompasses 
        b Muneer Al Zahir Est.
        | and
        b Jawahir Ali Al Zahir Est.
        | , and we are a leading provider of construction and support services in the kingdom. We work with organizations and government agencies across broad range of sectors to deliver assets and services that our customers consider vital to their activities. Our aim is to provide you with equipment and support that is cost-effective and enhances your capabilities. We do this through knowledge, innovative contracting and a willingness to build strong and long-lasting relationships.
      p Our Key business divisions are:
      ul
        li
          strong
            a(href='construction.html') Construction & Engineering division
        li
          strong
            a(href='trading.html') Industrial Supplies & Trading division
        li
          strong
            a(href='interior.html') Interior Designing & Home Decor 
      p
        | We are unrivalled supplier of industrial products and support services to the projects in the Kingdom. We are also active overseas, helping organizations build and maintain their assets and capabilities. The group is well positioned for the future with a clear market identity and a strong array of capabilities. Our market-leading reputation gives you the assurance that Jonquil Group is a partner who can be trusted to deliver. We hope this website gives you a clear picture of our strengths, experience, commitment to customers, our products, services and the wealth of expertise at Jonquil Group.
      h4 What Jonquil Group Offers:
      p
        | There are many support services organisations. So what makes Jonquil Group different?
        br
        | We believe there are three key aspects, that our customers are entitled to receive:
        ul
          li The best possible competitive value
          li The best possible performance
          li The best possible customer service
      p
        | Througout the construction and Industrial sector, Jonquil Group is synonymous with providing effective and efficient support services. Whether it is maintaining assets, delivering products, or providing an entire range of capabilities, we work with you to reduce your costs and enhance your operational effectiveness.