block vars
  - var page_name='Industrial Supplies & Trading'
  - var slug='trading'
  - var layout='full'

extends partials/layout

block index
  section.banner
    .row
      h1 Industrial Support and Trading services
  //End Header  
  br
  .row
    .large-12.columns.round.panel
      ul.breadcrumbs
        li.unavailable Activities
        li.current
          a(href='#') Trading Services
      p
        strong Industrial Support and Trading services
        | , specialized in agile delivery of industrial supplies and products with highest quality and reliability that meets ur needs. Our strength lies in our ability to source from across the globe efficiently and effectively. Our team of qualified and dedicated application engineers would give a much needed insights on your requirements.
      hr
      .row
        .large-4.columns
          h5 Cables :  
          ul
            li Power Cables
            li Control Cables
            li Rubber Insulated Power Cables
            li Medium and High Voltage Cables
            li Fireproof Cables
          h5 Tubings :  
          ul
            li Nylon Tubing
            li Polyethylene Tubing
            li PVC Tubing
            li Coiled Tubing 
            li Speciality Tubing
            li Metric Plastic Tubing 
          h5 Cylinders   :  
          ul
            li Aerospace Cylinders
            li Electric Cylinders
            li Hydraulic Cylinders
            li Pneumatic Cylinders
        .large-4.columns
          h5 Fasteners :  
          ul
            li Stud bolts
            li Hex bolts
            li Machine bolts
            li All thread
            li Nuts
            li Washers
            li Screws
            li Anchor bolts
            li Wedge anchors
            li Cotter pins
          h5 Valves   :  
          ul
            li Brass
            li Gate
            li Check
            li PBall
            li Forged steel gate
            li Butterfly
        .large-4.columns
          h5 Pumps   :  
          ul
            li Centrifugal
            li Flap valve pump 
            li Jet pump (water, air or stream)
            li Mixed flow pump
            li Propeller (axial flow) pump
          h5 Pressure Gauges   :  
          ul
            li Commercial Grade Gauges
            li General Service Gauges
            li Pocket Test and Low Pressure Gauges
            li Liquid Filled Gauges
            li Process and Differentail Gauges
            li Digital Pressure Gauges
            li Deadweight Testers and Gauge Calibrators
            li Isolating Diaphragm Seals
          h5 Breakers  :  
          ul
            li Earth leakage breakers
            li  Circuit breakers
      .row
        .large-4.columns
          img(src='img/cable.jpg')
        .large-4.columns
          img(src='img/valves.jpg')
        .large-4.columns
          img(src='img/pump.jpg')
      hr
      .row
        .large-4.columns
          h5 Hose and Fittings   :  
          ul
            li Flexible discharge hose
            li Rigid suction hose
            li Air hose
            li Pre–cut and fitting air hose
            li Cam–Loc fittings
            li Milton air quick couplings
            li Steel hose clamps
            li Band–It stainless steel strapping
            li Stainless steel hose clamps
            li Cutting and Hose Fabrication
          h5 Pipe Fittings   :  
          ul
            li Malleable iron
            li Pipe nipples
            li Forged steel
            li Flanges
            li Butt weld fittings
        .large-4.columns
          h5 Safety Equipments  :  
          ul
            li Hard hats
            li Gloves
            li Safety glasses
            li Goggles
            li Face shields
            li Earplugs
            li Ear muffs
            li 3M one-piece respirators
            li Dust masks
            li Filters
            li Coveralls
            li Extension cords
            li Heavy duty vinyl tarps
            li Absorbants
            li Bulk rags 
        .large-4.columns
          h5 Hand and Yard tools   :  
          ul
            li Pliers
            li Wrenches
            li Hammers
            li Screw drivers 
            li Files
            li Tape measures
            li Hacksaws
            li Pry-bars
            li C-clamps
            li Flashlights
            li Batteries
            li Shovels
            li Hoes 
            li Rakes
            li Brooms
            li Mops
      .row
        .large-4.columns
          img(src='img/hoses.jpg')
        .large-4.columns
          img(src='img/safety.jpg')
        .large-4.columns
          img(src='img/yard.jpg')